body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Adjust margin to align Add button to top right */
#addButton {
    margin: 1% 90% 1%;
}

/* Remove text underline from hyperlink hover and change color */
#addButton a:hover {
    text-decoration: none;
    color: antiquewhite;
}

/* Adjust color to white on add button */
.addButton {
    color: #ffffff;
    text-decoration: none;
}

/* Give edit button white text color */
#editButton {
    color: white;
    text-decoration: none;
}

/* Give color to edit button on hover */
#editButton a:hover {
    text-decoration: none;
    color: antiquewhite;
}

/* Change color and remove underline on delete button */
#deleteButton {
    color: white;
    text-decoration: none;
}

/* Give color to delete button on hover */
#deleteButton a:hover {
    text-decoration: none;
    color: antiquewhite;
}

/* Give table header neames background color */
.table .tableHeaders {
    background-color: aquamarine;
}

.table tr {
    border-top: 1px solid #dddddd;
}

/* Media Queries  */
@media screen and (min-width: 320px)
{
    #addButton {margin: 3% 65%} 
}

@media screen and (min-width: 768px)
{
    #addButton {margin: 3% 85%} 
}

@media screen and (min-width: 1024px)
{
    #addButton {margin: 3% 90%} 
}

@media screen and (min-width: 320px) and (orientation: landscape)
{
    #addButton {margin: 3% 80%}
}

@media screen and (min-width: 600px) and (orientation: landscape)
{
    #addButton {margin: 3% 80%} 
}

@media screen and (min-width: 1024px) and (orientation: landscape)
{
    #addButton {margin: 3% 90%} 
}

@media screen and (min-width: 1350px) and (orientation: landscape)
{
    #addButton {margin: 3% 100%} 
}