@model IEnumerable<MusicManager.Models.Song>

@{
    ViewBag.Title = "Music";
}

<div id="addButton">
    <button type="button" class="btn btn-success btn-lg margin-right"><span class="glyphicon glyphicon-plus"></span>@Html.ActionLink("Add", "Add", "Music", null, new { @class="addButton" })</button>
</div>

<h3>@ViewBag.Message</h3>