@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to your music managing services!</h1>
    <p class="lead">Please login or register to create a mock music library. This library will let you add artists to a playlist, delete artists, and edit current artists in your playlist. You can make as many playlists as you want, but please note that this is a mock library; it will not play music.</p>
</div>