@model MusicManager.SongDatabase
@using MusicManager.Models

@{
    ViewBag.Title = "Music";
}

<h3>@ViewBag.Message</h3>

<div>
    <button type="button">@Html.ActionLink("Add", "Add", "Music")</button>
</div>

